@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
}

body {
        height: 100vh;
        background: url("download.jpeg") no-repeat center/cover;
        padding: 50px 5%;
}

.container{
        position: relative;
        height: 100%;
        background: rgba(255, 255, 255, .0.8);
        border: 2px solid rgba(255, 255, 255, .1);
        border-radius: 30px;
        /* backdrop-filter: blur(10px); */
        /* transform: scale(0); */
        animation: zoom-in is ease forwards 0.5s;
        padding-top: 120px;
}

@keyframes zoom-in {
    100% {
        transform: scale(1);
    }
}


header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;   
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.logo{
        color: #58475f;
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
}
/* navbar */
.navbar {
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        z-index: 100;
        width: 100%;
        margin: 0 auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
        color: #58475f;
        text-decoration: none;
        margin-left: 35px;
        font-weight: 500;
        font-size: 18px;
        border-bottom: 2px solid transparent;
        transition: .5s;
}
.navbar a:hover {
        border-bottom: 2px solid #58475f;
}
/* jarak dari navbar */
.home {
        position: absolute;
        padding: 2rem 3rem;
        margin-top: -60px;
        padding-top: 100px; 
        padding-bottom: 60px;
        text-align: center;
    /* background: linear-gradient(135deg, #fce4ec, #f4c2c2); */
}


.home-link {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 50px;
        padding: 50px 5% 0 ;
        color: #58475f;
}
.home-detail h1 {
        margin-top: 0px;
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 1rem;
        text-align: left;
}
.home-detail p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: #58475f;
}
.home-detail .download-social {
        display: flex;
        align-items: center;
        gap: 30px;
}

.btn {
        display: inline-block;
        padding: 10px 30px;
        background: #f4c2c2;
        box-shadow: 0 0 1 #f4c2c2;
        border: 2px solid #f4c2c2;
        color: #58475f;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        border-radius: 40px;
        transition: background-color 0.3s ease;
}
.btn:hover {
        background: transparent;
        box-shadow: none;
        color: #58475f;
}
.home-detail .social-icons {
        margin-left: 20px;
        display: flex;
        align-items: center;
}
.home-detail .social-icons a {
        display: inline-flex;
        padding: 8px;
        border: 2px solid #f4c2c2;
        border-radius: 50%;
        color: #58475f;
        font-size: 20px;
        margin: 0 8px;
        text-decoration: none;
}
.home-detail .social-icons a:hover {
        background: #f4c2c2;
        box-shadow: 0 0 1 #ede9e9;
        color: #58475f;
}
.home-img .img-box {
        position:relative ;
        width: 28vw;
        height: 28vw;
        border: 2px solid #f4c2c2;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
}

.home-img .img-box img {
        position: absolute;
        top: 0px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
}











.section {
        padding: 6rem 2rem;
        max-width: 1000px;
        margin:  auto;
}       

.section h2 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2rem;
        color: #f4c2c2;
}

.skill span {
        display: inline-block;
        background: #58475f;
        padding: 0.5rem 1rem;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        border-radius: 20px;
}

.projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
}

.project-card {
        background: #680568;
        padding: 1.5rem;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
}

.project-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 8px rgba(48, 19, 19, 0.2);
}

.footer {
        text-align: center;
        padding: 1rem;
        background: #be6ac4;
        color: #ede9e9;
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: 2rem;
}